body {
  background-image: url("../images/bg-2.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 50% 50%; 
}

em {
    color: red;
    font-style: normal;
}

.algolia-hit-item-title {
    font-weight: bold;
}

.algolia-hit-item-content {
    font-size: 0.8em;
    color: #555;
}